.jumbotron {
  padding-top: 5rem;
  background-color: #e2edff;
}

#project {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.card-img {
  width: 400px;
  height: 400px;
}

.card-img-top {
  height: 300px; /* Sesuaikan tinggi gambar sesuai kebutuhan */
  object-fit: cover; /* Memastikan gambar terisi penuh di area yang tersedia */
}
